.example-card {
  /* display: block; */
  border-radius: 10px;
  width: 200px;
  height: 300px;
  background: rgb(41, 39, 39);
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(8, 7, 42, 1) 75%,
    rgba(41, 41, 207, 0.226) 100%
  ); */
  /* color: white; */
  font-family: "Rajdhani", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-shadow: 10px 14px 50px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 50px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 50px -15px rgba(0, 0, 0, 0.75);
}
/* #divWeatherMain :hover {
  filter: drop-shadow(1px 1px 10px rgb(255, 255, 255));
} */

.weatherWidgetRow {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: fit-content;
  height: fit-content;
}

.sun {
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}

.moon {
  margin-top: 10px;
  color: white;
  filter: drop-shadow(1px 1px 10px white);
}

.cloudDiv {
  margin-top: -40px;
}

.cloud {
  color: rgb(104, 175, 197);
  filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement {
  from {
    margin-left: -55px;
  }
  to {
    margin-left: 65px;
  }
}
