<mat-toolbar style="font-family: rajdhani;">
  <img src="../assets/img/logo1.png" width="40px" height="40px" class="logo" />
  Skyfall
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div *ngFor="let choice of city">
      <app-weather-widget-main
        [city]="choice"
        (click)="test(choice)"
      ></app-weather-widget-main>
    </div>

    <app-add-city-card></app-add-city-card>
  </div>
</mat-drawer-container>
<!-- <app-weather-widget-main></app-weather-widget-main> -->
