<mat-toolbar style="font-family: rajdhani;">
  <span
    ><button
      mat-icon-button
      color="accent"
      aria-label="Example icon button with a menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon></button
    >Skyfall</span
  >
  <span class="flexExpand"></span>
  <span
    ><form class="example-form" (keyup)="searchNow($event)">
      <mat-form-field class="example-full-width">
        <mat-label style="font-size: small;">Search city</mat-label>
        <input
          type="text"
          placeholder=""
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form></span
  >
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-weather-widget-main [city]="city"></app-weather-widget-main>
    <!-- <app-weather-widget-main></app-weather-widget-main>
    <app-weather-widget-main></app-weather-widget-main>
    <app-weather-widget-main></app-weather-widget-main>
    <app-weather-widget-main></app-weather-widget-main> -->

    <app-add-city-card></app-add-city-card>
  </div>
</mat-drawer-container>
<!-- <app-weather-widget-main></app-weather-widget-main> -->
